@font-face {
    font-family: Merriweather;
    src: url(Fontes/Merriweather-Regular.ttf);
}
@font-face {
    font-family: BSC;
    src: url(Fontes/BarlowSemiCondensed-Regular.ttf);
}

*{
    color: black;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

h1,h2,h3,h4,h5,h6,label{
    font-family: "Merriweather";
}

h1{
    font-size: 40px;
}

h2{
    font-size: 30px;
}

a{
    font-family: "BSC";
    font-size: 20px;
}

label{
    position: absolute;
    top: 16.5%;
    left: 40%;
    transform: translateY(-50%);
    font-size: 1em;
    font-weight: 500;
    transition:all 300ms ease-in-out;
    pointer-events: none;
}

#Pass{
    top: 18%;
    left: 42%;
}

#Nome,#Apelido{
    left: 63.5%;
    top: 27%;
}

#Apelido{
    top: 35.5%;
}

#Email,#Password,#Confirmar{
    left: 42%;
}

#Password{
    top: 21%;
}

#Confirmar{
    top: 42.5%;
}

input [type="text"]{
    position:relative;
    display:block;
    width: 100%;
    height: 20px;
    background: transparent;
    border-color: black;
}

#ApelidoTB{
    margin-top: 10px;
}

#ConfirmarTB{
    margin-top: 10px;
}

#LabelCheck{
    position: static;
    font-size: 12px;
}

img{
    border-radius: 15px;
    width: 250px;
    height: auto;
}

#BodyLog{
    background-color: black;
}

#DivLog, #DivLogSU{
    background-color: rgb(226, 226, 226);
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    border-radius: 15px;
    text-align: right;
}

#DivLogSU{
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 5%;
    border-radius: 15px;
    text-align: right;
}

#DivLogSub, #DivLogSubSU{
    display:flex;
    align-content: flex-end;
    flex-wrap: wrap;
    flex-grow: 0px;
}

#Seguinte, #Criar, #SeguinteSU{
    padding: 10px;
    padding-right: 50px;
    padding-left: 50px;
    margin-right: 10px;
    margin-bottom: 5px;
    border-radius: 15px;
    font-size: 20px;
}

#SeguinteSU{
    margin-top: 80%;
    margin-left: 35%;
}

#SeguinteLink, #CriarLink{
    text-decoration: none;
    color: white;
}

#CriarLink{
    color: darkgoldenrod;
    font-weight: bold;
}

#Seguinte, #SeguinteSU{
    background-color: darkgoldenrod;
    border-color: darkgoldenrod;
}

#Seguinte:hover, #SeguinteSU:hover{
    background-color: rgb(143, 105, 9);
    border-color: rgb(143, 105, 9);
}

#Criar{
    background-color: transparent;
    border-style: none;
}

article{
    padding-top: 2%;
    padding-right: 15%;
    padding-left: 2%;
    margin: 0%;
    text-align: left;
}

#ArtInfo{
    padding-right: 20%;
}

aside{
    padding-top: 2%;
    padding-left: 15%;
    padding-right: 2%;
    margin: 0%;
    margin-top: 6%;
    text-align: left;
    position: relative;
}
form{
    padding-top: 2%;
    padding-left: 15%;
    padding-right: 2%;
    margin: 0%;
    margin-top: 6%;
    text-align: left;
}

#FormInfo{
    padding-left: 20%;
}

#EmailBut{
    border-radius: 15px;
    border-color: black;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
}

#EmailLink{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

@media only screen and (max-width: 576px)
{ 
    a, p, label{
        font-size: 14px;
    }
    #Password, #Confirmar{
        font-size: 10px;
        left: 5%;
    }
    #Nome,#Apelido{
    left: 36.5%;
    font-size: 14px;
    }
    h1{
        font-size: 14px;
    }
    img{
        width: 140px;
        height: auto;
    }
    input [type="text"]{
        width: 10%;
        height: 20px;
    }
    #Criar{
        padding: 0%;
    }
    div{
        padding: 5%;
    }
    #DivLog{
        text-align: center;
    }
    article{
        padding-right: 0%;
        text-align: center;
    }
    aside{
        padding-left: 0%;
    }
}

@media only screen and (min-width: 576px)
{
    a, p, label{
        font-size: 14px;
        padding-left: 0%;
    }
    #Password, #Confirmar{
        font-size: 12px;
        left: 7%;
    }
    #Nome,#Apelido{
    left: 26.5%;
    font-size: 14px;
    }
    h1{
        font-size: 10px;
    }
    img{
        width: 140px;
        height: auto;
    }
    input [type="text"]{
        width: 20%;
        height: 20px;
    }
    div{
        padding: 5%;
        text-align: center;
    }
    #DivLog{
        text-align: center;
        padding: 0%;
    }
    #DivLogSub, form{
        text-align: center;
        padding: 0%;
    }
    article, form{
        padding-right: 0%;
        text-align: center;
    }
    aside{
        padding-left: 0%;
    }
}

@media only screen and (min-width: 768px)
{
    a, p, label{
        font-size: 16px;
    }
    #Password, #Confirmar{
        font-size: 14px;
        left: 15%;
    }
    #Nome,#Apelido{
    left: 26.5%;
    font-size: 14px;
    }
    h1{
        font-size: 20px;
    }
    img{
        width: 160px;
        height: auto;
    }
    input [type="text"]{
        width: 30%;
        height: 20px;
    }
    div{
        padding: 4%;
    }
    article{
        padding-right: 4%;
    }
    aside{
        padding-left: 4%;
    }
}

@media only screen and (min-width: 992px)
{
    a, p, label{
        font-size: 18px;
        padding: auto;
    }
    #Password, #Confirmar{
        font-size: 16px;
        left: 25%;
    }
    #Nome,#Apelido{
    left: 58.5%;
    font-size: 16px;
    }
    h1{
        font-size: 30px;
    }
    img{
        width: 180px;
        height: auto;
    }
    input [type="text"]{
        width: 40%;
        height: 20px;
    }
    div{
        padding: 3%;
    }
    article{
        padding-right: 8%;
    }
    aside{
        padding-left: 8%;
    }
}

@media only screen and (min-width: 1200px)
{
    a, p, label{
        font-size: 20px;
        padding: auto;
    }
    #Password, #Confirmar{
        font-size: 18px;
        left: 42%;
    }
    #Nome,#Apelido{
    left: 60.5%;
    font-size: 18px;
    }
    h1{
        font-size: 40px;
    }
    img{
        width: 200px;
        height: auto;
    }
    input [type="text"]{
        width: 100%;
        height: 20px;
    }
    div, form{
        padding: 2%;
    }
    article{
        padding-right: 12%;
    }
    aside{
        padding-left: 12%;
    }
}