*{
    margin: 0;
}

body{
    width:100%;
    margin: 0;
    padding-top: 0;
}

#BemVindo{
    text-align: center;
    background-color: goldenrod;
    width: full;
    color: white;
    padding-bottom: 5px;
}

#DivLink{
    text-align: right;
    padding-right: 5px;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 0 5px;
}

a:hover{
    background-color: aliceblue;
    color: black;
}

#FormPub{
    margin-top: 10px;
    text-align: center;
}

label{
    padding-right: 10px;
    text-align: left;
}

.DivInfo{
    margin-top: 5px;
    margin-bottom: 5px;
}

#DivFinal {
    margin-top: 20px;
}

#Descricao{
    position: relative;
    left: 12px;
    top: -15px;
}

#TituloI{
    position: relative;
    left: 33px;
}

#DescricaoTA{
    position: relative;
    left: 20px;
}

.Imagem{
    position: relative;
    left: 80px;
}